body {
  margin: 0;
  font-family: Arial;
  background: #05010a;
  color: #c77dff;
}

#loginBtn {
  display: block;
  margin: 120px auto;
  width: 220px;
  text-align: center;
  padding: 12px;
  background: #5a189a;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

#top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #12002b;
}

#layout {
  display: flex;
  height: 80vh;
}

#sidebar {
  width: 250px;
  background: #0a0a0f;
  border-right: 1px solid #3c096c;
  overflow-y: auto;
}

#tree div {
  padding: 6px;
  cursor: pointer;
}

#tree div:hover {
  background: #12002b;
}

#main {
  flex: 1;
  padding: 10px;
}

textarea {
  width: 100%;
  height: 60vh;
  background: black;
  color: #80ffdb;
  border: 1px solid #3c096c;
}
